<!DOCTYPE html>
<html lang="en">

<head>

<%- include('../views/head'); %>
</head>

<body>
<%- include('../views/body'); %>
    
    <main id="main">
        <section id="onlineBakery" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>online bakery</h2>
                    <p class="separator">This are the final products in the Online Bakery.</p>
                </div>
            </div>
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <!-- Bakery table From XML section -->
                    <div class="col-lg-8 order-2 mb-5">
                        <div>
                            <!-------------------- Table goes here ---------------------->
                            <h4>Bakery database...</h4>
                            <table>
                                <tr>
                                    <th>_id</th>
                                    <th>Section</th>
                                    <th>Item</th>
                                    <th>Ingredient</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                </tr>

                                <tbody id="bakeryDB">
                                    <% allproducts.forEach(function(entry) {%>
                                    <tr id="mostWanted<%=entry.mostWanted%>">
                                        <th class="maintableinput">
                                            <p><%= entry._id%></p>
                                        </th>
                                        <th>
                                            <p><%=entry.section%></p>
                                        </th>
                                        <th>
                                            <p><%=entry.item%></p>
                                        </th>
                                        <th>
                                            <p><%=entry.ingredient%></p>
                                        </th>
                                        <th>
                                            <input class="miniinput" type='number' id="quantity"
                                                value='<%=entry.quantity%>' disabled />

                                        </th>
                                        <th>
                                            <p><%=entry.unit%></p>
                                        </th>
                                        <th>
                                            <a class="btn btn-danger delete-product" style="padding: 8px;" href="/" data-id = "<%= entry._id%>">Delete</a>
                                        <th>
                                            <button class="btn btn-info" style="padding: 8px;" type="submit"><a href="/finalproduct/edit/<%= entry._id%>">Update</a></button>
                                        </th>
                                    </tr>
                                    <%});%>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="col-lg-4 order-1">
                        <h4>Here to produce an order for the supplier.</h4>
                        <!-- Function to highlight the product with more sales -->

                        <div class="input-group">
                            <div class="input-group-append">
                                <p>To see the most popular products in the Online Bakery tick the box.</p>
                                <div class="input-group-text">
                                    <input type="checkbox" id="mostWantedCheckbox" onclick="mostWantedHighlight()">

                                </div>
                            </div>
                            <p> Search by any word within the table</p>
                            <div>
                                <input class="form-control mt-3" id="search" type="text" placeholder="Write here">
                            </div>
                        </div>
                        <!-- If the user want to add a final product... -->
                        <!-- Bakery Add section -->
                        
                        <form method="POST" action="/finalproduct/add">

                            <!-- Select a section where the new finalProduct will be put -->
                            <input class="form-control mt-3" id="search" type="search" name="section" placeholder="Section">
                            <input class="form-control mt-3" id="search" type="mostWanted" name="mostwanted" 
                                placeholder="Is it popular? false/true">
                            <!-- Type the name, ingredient and quantity-->
                            <input class="form-control mt-3" type="text" name="item" placeholder="Item">
                            <input class="form-control mt-3" type="text" name="ingredient" placeholder="Ingredient">
                            <input class="form-control mt-3" type="text" name="quantity" placeholder="Quantity">
                            <input class="form-control mt-3" type="unit" name="unit" placeholder="Unit">
                            <input type="submit" class="btn btn-success btn-block createproduct" value="Add a product">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        

        </section>
    </main>

 <%- include('../views/footer'); %>