<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../views/head'); %>
</head>

<body>
   <%- include('../views/body'); %>
    <!-- If the user want to update a final product... -->

    <div style="padding: 0 600px 0 600px;">
        <h4>Here to update a product to the table.</h4>
        <form method="POST" action="/finalproduct/edit/<%= finalproduct._id%>">

            <input class="form-control mt-3" type="text" name="id" placeholder="ID" value="<%=finalproduct.id%>" disabled>
            <input class="form-control mt-3" type="text" name="section" placeholder="Section" value="<%=finalproduct.section%>">
            <input class="form-control mt-3" type="mostWanted" name="mostwanted"placeholder="Is it popular? False/True" value="<%=finalproduct.mostWanted%>">
            <!-- Type the name, ingredient and quantity-->
            <input class="form-control mt-3" type="text" name="item" placeholder="Item" value="<%=finalproduct.item%>">
            <input class="form-control mt-3" type="text" name="ingredient" placeholder="Ingredient" value="<%=finalproduct.ingredient%>">
            <input class="form-control mt-3" type="text" name="quantity" placeholder="Quantity" value="<%=finalproduct.quantity%>">
            <input class="form-control mt-3" type="unit" name="unit" placeholder="Unit" value="<%=finalproduct.unit%>">
            <input class="btn btn-info btn-block" type="submit" value="Edit Product">
        </form>
    </div>

  <%- include('../views/footer'); %>